
.ifsc-sec{
  padding:25px;
  width:35%;
  float:left;
  padding-left: 15px;

}
.search-sec{
  width:45%;
  float:left;
  padding-left: 80px;
  padding:25px;
}
.bank-name-sec{
  width:70%;
  padding:25px;
  padding-left: 15px;
}
.submit-sec{
  padding: 15px;
  left: 300px ;
  padding-left: 15px;
}
.entries-sec{
  //padding:15px;
  padding-left: 15px;
}
.transaction-search-form
{

  border-width: 5px;
  margin-left: 15%;
  margin-right: 15%;
  padding: 3%;
}

.failure-msg{
  color: red;
}